.clinic-cell {
  background-color: var(--c-bg-secondary);
  border-radius: 1.5rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .clinic-name {
    font: 600 1.25rem/1.2 var(--f-body);
    text-wrap: pretty;

    .badge {
      anchor-name: var(--badge-anchor);

      font-variation-settings: "FILL" 1;
      font-weight: 600;
      color: var(--c-green);
      vertical-align: -2.5px;

      cursor: default;
    }

    .tooltip {
      position-anchor: var(--badge-anchor);
      position: fixed;
      position-area: top center;
      width: max-content;
      margin-bottom: 0.5rem;

      border: 0.5px solid var(--c-separator);
      border-radius: 0.5rem;
      box-shadow: 0 2px 0.5rem oklch(0% 0% 0 / 0.33);
      padding: 0.25rem 0.5rem;
      background-color: oklch(from var(--c-green) l c h / 0.83);
      backdrop-filter: blur(0.5rem);

      color: white;
      font-size: 0.875rem;
      font-weight: 500;

      opacity: 0;
      scale: 0.92;

      transition:
        opacity 150ms ease,
        scale 150ms ease,
        display 150ms ease allow-discrete,
        overlay 150ms ease allow-discrete;

      &:popover-open {
        opacity: 1;
        scale: 1;

        @starting-style {
          opacity: 0;
          scale: 0.92;
        }
      }
    }
  }

  .maps-link {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--c-text-secondary);
    text-wrap: balance;
    max-width: max-content;

    transition: opacity 75ms ease;

    &:hover {
      opacity: 0.75;
    }

    .icon {
      font-size: 1rem;
      vertical-align: text-top;
    }
  }

  .clinic-address {
    font-size: 0.875rem;
    line-height: 1.3;
    color: var(--c-text-secondary);

    margin-bottom: 0.75rem;

    span {
      display: block;
    }
  }

  .bottom-row {
    margin-top: auto;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    .services {
      display: flex;
      flex-flow: row wrap-reverse;
      gap: 0.25rem;

      .service {
        background-color: var(--c-bg);
        color: var(--c-text);
        font-size: 0.75rem;
        text-transform: uppercase;
        font-weight: 500;
        padding: 0.25rem 0.5rem;
        border-radius: 0.5rem;
      }
    }

    .details-button {
      background-color: var(--c-accent);
      color: var(--c-bg);
      font-weight: 600;
      text-align: center;
      padding: 0.75rem;
      border-radius: 0.5rem;

      transition:
        opacity 150ms ease,
        scale 100ms ease;

      &:hover {
        cursor: pointer;
        opacity: 0.75;
      }

      &:active {
        scale: 0.96;
      }
    }
  }

  &:not(.verified) {
    .details-button {
      background-color: transparent;
      color: var(--c-accent);
      border: 2px solid var(--c-accent);
    }
  }
}
