#hero {
  height: 40rem;
  align-content: center;
  padding-top: var(--g-navbar-height);

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    margin-bottom: 1.5rem;

    .heading {
      font: 700 2.5rem/1.1 var(--f-serif);
      margin-bottom: 1rem;
    }

    .subheading {
      font-size: 1.25rem;
      line-height: 1.4;

      max-width: 64ch;
    }
  }

  .cta-container {
    display: flex;
    justify-content: center;
    gap: 1rem;

    .cta-btn {
      padding: 0.75rem 1.125rem;
      font-size: 1.125rem;
      font-weight: 600;

      align-content: center;
      border-radius: 16rem;

      transition: opacity 75ms ease;

      &:hover {
        opacity: 0.75;
      }

      &.primary {
        background-color: var(--c-accent);
        color: var(--c-bg);
      }

      &.secondary {
        border: 2px solid var(--c-accent);
      }
    }
  }
}
