.provider-cell {
  background-color: var(--c-bg-secondary);
  border-radius: 1.5rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  anchor-scope: --verified-badge;

  .provider-name {
    font: 600 1.25rem/1.2 var(--f-body);
    text-wrap: pretty;
  }

  .provider-address {
    font-size: 0.875rem;
    line-height: 1.3;
    color: var(--c-text-secondary);

    margin-bottom: 0.75rem;

    span {
      display: block;
    }
  }

  .bottom-row {
    margin-top: auto;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    .services {
      display: flex;
      flex-flow: wrap row-reverse;
      gap: 0.25rem;

      .service {
        background-color: var(--c-bg);
        color: var(--c-text);
        font-size: 0.75rem;
        font-weight: 500;
        text-transform: uppercase;
        padding: 0.25rem 0.5rem;
        border-radius: 0.5rem;
      }
    }

    .details-btn {
      background-color: var(--c-accent);
      color: var(--c-bg);
      font-weight: 600;
      text-align: center;
      padding: 0.75rem;
      border-radius: 0.5rem;

      transition:
        opacity 150ms ease,
        scale 100ms ease;

      &:hover {
        opacity: 0.75;
      }

      &:active {
        scale: 0.96;
      }
    }
  }
}
