.provider-cell {
  padding: 1rem;

  border: 1.5px solid var(--c-separator);
  border-radius: 0.75rem;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  anchor-scope: --verified-badge;

  transition: border-color 150ms;

  &:hover {
    border-color: var(--c-accent);
    cursor: pointer;
  }

  .provider-name {
    font:
      600 1.25rem/0.9 'Satoshi',
      sans-serif;
    letter-spacing: 1%;
    text-wrap: pretty;
  }

  .provider-address {
    font-size: 1rem;
    line-height: 1.3;
    color: var(--c-secondary);

    span {
      display: block;
    }
  }

  .services {
    display: flex;
    gap: 0.25rem;

    .service {
      background-color: var(--c-separator);
      color: var(--c-secondary);
      font-size: 0.75rem;
      font-weight: 500;
      text-transform: uppercase;
      padding: 0.25rem 0.5rem;
      border-radius: 0.5rem;
    }
  }
}
