body {
  max-width: 100vw;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  width: 100%;
}

main {
  flex: 1;

  & > *:first-child {
    padding-top: var(--g-navbar-height);
  }

  & > *:last-child {
    padding-bottom: var(--g-footer-height);
  }
}
