#search-results {
  position: relative;

  .title {
    text-align: center;
    margin: 2.5rem auto 2rem;
    max-width: max-content;

    .heading {
      font: 700 var(--f-heading-size)/1.2 var(--f-serif);
      margin-bottom: 0.5rem;
    }

    .subheading {
      font-size: var(--f-subheading-size);
      line-height: 1.4;
      text-wrap: balance;
      color: var(--c-text-secondary);
      max-width: 64ch;
    }
  }

  .results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
    gap: 1.5rem;
  }
}
