.progress-indicator {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  max-width: 16rem;
  width: 100%;

  align-self: center;
}

.progress-text {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--c-text-secondary);
  text-align: center;
}

.progress-bar-container {
  width: 100%;
  height: 0.5rem;
  background-color: var(--c-separator);
  border-radius: 1rem;
  overflow: hidden;
}

.progress-bar-fill {
  height: 100%;
  background-color: var(--c-accent);
  border-radius: 1rem;
  transition: width 300ms ease;
}
