.questionnaire-container {
  max-width: 40rem;
  margin: 2rem auto;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.question-wrapper {
  min-height: 24rem;
  display: flex;
  align-items: center;
}
