.question-card {
  width: 100%;

  /* Reset fieldset default styles */
  border: none;
}

.question-text {
  font: 700 1.75rem/1.3 var(--f-body);
  text-align: center;
  color: var(--c-text);
  margin-bottom: 1.5rem;
}
